/* 容器样式 */
* {
    margin: 0;
    padding: 0;
}
.menu {
    list-style-type: none; /* 移除默认的列表样式 */
    margin: 10px 10px 0 10px;
    padding: 0 0 0 0;
    text-align: center; /* 水平居中 */
    background-color: #f0f0f0;
}

/* 列表项样式 */
.menu li {
    display: inline-block; /* 使列表项水平排列 */
    margin: 0 10px; /* 列表项之间的间距 */
}

/* 链接样式 */
.menu a {
    text-decoration: none; /* 移除下划线 */
    color: #5e5a5a; /* 文字颜色 */
    display: block; /* 使链接块级化，方便设置内边距 */
    padding: 10px 20px; /* 内边距 */
}

/* 鼠标悬停效果 */
.menu a:hover {
    background-color: #c47f7f; /* 悬停时的背景色 */
    color: #82a850; /* 悬停时的文字颜色 */
}

/* span 标签样式 */
.menu span {
    display: block; /* 使 span 块级化，方便设置内边距 */
    padding: 5px 10px; /* 内边距 */
}
